@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSans Regular';
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSans Bold';
    src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: 'WorkSans Regular';
    src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

